<main>
  <section>
    <div class="info">
      <h1>Great projects meet great experiences</h1>
      <p>Hi there! Let's start a conversation. Whether you’re just beginning
        your minimum viable product, need help iterating on an established application, a website or something
        else
        entirely, here’s how to reach me:</p>
    </div>
    <div class="contact">
      <a href="https://github.com/victorbonanho" target="_blank" class="contato1">
        <h4>
          <fa-icon [icon]="faGithubSquare"></fa-icon> Git Hub
        </h4>
        <p>Working on websites, apps and games.<br><span>victorbonanho</span></p>
        <fa-icon [icon]="faCircleRight"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/victor-bonanho-b8b2ba141/" target="_blank" class="contato2">
        <h4>
          <fa-icon [icon]="faLinkedin"></fa-icon> Linkedin
        </h4>
        <p>Let's share our professional experiences.<br><span>linkedin.com/in/victor-bonanho-b8b2ba141/</span></p>
        <fa-icon [icon]="faCircleRight"></fa-icon>
      </a>
      <a href="mailto:contato@victorbonanho.com" class="contato3">
        <h4>
          <fa-icon [icon]="faSquareEnvelope"></fa-icon> E-mail
        </h4>
        <p>Send me an e-mail. I'll return soon as I can.<br><span>contato@victorbonanho.com</span></p>
        <fa-icon [icon]="faCircleRight"></fa-icon>
      </a>
    </div>
  </section>
</main>
