main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--content-color);
  transition: 1.5s;
  height: 100vh;
}

span {
  font-size: 12px;
  font-weight: 600;
  opacity: 50%;
}

section {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 0;
  width: 90%;
  transition: 1.5s;
  margin-top: 0;
}

section div { /*!important*/
  flex: 1 1 300px;
}

p {
  margin-top: 16px;
}

.info {
  margin-top: 50px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.contact a {
  flex: 1 1 300px;
}

.contact p {
  margin-bottom: 10px;
}

.contato1, .contato2, .contato3 {
  transition: 1.5s;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.contato1 {
  margin-right: 5px;
  background: linear-gradient(141deg, rgba(195,79,172,1) 0%, rgba(110,108,215,1) 48%, rgba(62,125,240,1) 100%);
}

.contato1 p, .contato1 fa-icon, .contato1 h4 {
  color: white;
}

.contato2 {
margin-left: 2.5px;
margin-right: 2.5px;
background: linear-gradient(141deg, rgba(37,158,225,1) 0%, rgba(25,142,206,1) 48%, rgba(3,112,173,1) 100%);
}

.contato2 p, .contato2 fa-icon, .contato2 h4 {
  color: white;
}

.contato3 {
  margin-left: 5px;
  background: linear-gradient(141deg, rgba(240,141,58,1) 0%, rgba(231,111,83,1) 48%, rgba(234,84,111,1) 100%);
}

.contato3 p, .contato3 fa-icon, .contato3 h4 {
  color: white;
}

fa-icon {
  font-size: 30px;
  opacity: 100%;
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {

  section {
    width: 95%;
    padding-bottom: 20px;
  }

  .contato1, .contato2, .contato3 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .info {
    margin-top: 20px;
  }

}


