<section>
  <div class="section-model1">
    <div>
      <h2>Selected Projects</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        perferendis et iusto
        rem illum beatae ducimus,
        vero temporibus nihil tenetur corrupti sed ipsa esse non! Repellat recusandae minima tempora? Hic.</p>
      <div class="tools">
        <div class="angular">
          <img src="assets/angular.png" alt="angular">
        </div>
        <div class="ionic">
          <img src="assets/ionic.png" alt="ionic">
        </div>
        <div class="figma">
          <img src="assets/figma.png" alt="figma">
        </div>
        <div class="photoshop">
          <img src="assets/adobe-photoshop-logo.png" alt="photoshop">
        </div>
        <div class="wordpress">
          <img src="assets/WordPress.png" alt="WordPress">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-model1">
    <div class="item-sec1-1">
      <h2>Fresh thinking for an indoor farming dashboard</h2>
      <div class="icon-clients">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p class="desc"><span>Client:</span> Name</p>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis et iusto rem illum beatae ducimus,
        vero temporibus nihil tenetur corrupti sed ipsa esse non! Repellat recusandae minima tempora? Hic.</p>
    </div>
    <div class="item-sec1-2">
      <img src="assets/placeholder.png" alt="hero-image">
      <div class="grid-test">
        <div class="icon-clients2">
          <fa-icon [icon]="faUserGear"></fa-icon>
          <p class="desc"><span>My role:</span> Developer, UX|UI Designer</p>
        </div>
        <div class="call-action">
          <button class="main-button" routerLink="#">View project</button>
        </div>
        <div class="icon-clients">
          <fa-icon [icon]="faFlag"></fa-icon>
          <p class="desc"><span>Project Type:</span> Web Application</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-model1">
    <div class="item-sec1-1">
      <h2>Fresh thinking for an indoor farming dashboard</h2>
      <div class="icon-clients">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p class="desc"><span>Client:</span> Name</p>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis et iusto rem illum beatae ducimus,
        vero temporibus nihil tenetur corrupti sed ipsa esse non! Repellat recusandae minima tempora? Hic.</p>
    </div>
    <div class="item-sec1-2">
      <img src="assets/placeholder.png" alt="hero-image">
      <div class="grid-test">
        <div class="icon-clients2">
          <fa-icon [icon]="faUserGear"></fa-icon>
          <p class="desc"><span>My role:</span> Developer, UX|UI Designer</p>
        </div>
        <div class="call-action">
          <button class="main-button" routerLink="#">View project</button>
        </div>
        <div class="icon-clients">
          <fa-icon [icon]="faFlag"></fa-icon>
          <p class="desc"><span>Project Type:</span> Web Application</p>
        </div>
      </div>
    </div>
  </div>
</section>
