<!--
<section>
  <div class="section-model1">
    <div class="selec_proj">
      <h2>Selected Projects</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        perferendis et iusto
        rem illum beatae ducimus,
        vero temporibus nihil tenetur corrupti sed ipsa esse non! Repellat recusandae minima tempora? Hic.</p>
      <div class="tools">
        <div class="angular">
          <img src="assets/angular.png" alt="angular">
        </div>
        <div class="ionic">
          <img src="assets/ionic.png" alt="ionic">
        </div>
        <div class="figma">
          <img src="assets/figma.png" alt="figma">
        </div>
        <div class="photoshop">
          <img src="assets/adobe-photoshop-logo.png" alt="photoshop">
        </div>
        <div class="wordpress">
          <img src="assets/WordPress.png" alt="WordPress">
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section>
  <div class="section-model1">
    <div class="item-sec1-1">
      <h2>Cryptocurrency Price Tracker App</h2>
      <div class="icon-clients">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p class="desc"><span>Client:</span> Personal Project</p>
      </div>
      <p>A Cryptocurrency price tracker app that shows, at least, 50 cryptos with real time prices and
        variations.<br>This app was builded with <strong>React Native</strong> with Coingecko API that shows the
        real time prices and variations. For quickly checks without waste time for it.</p>
    </div>
    <div class="item-sec1-2">
      <img src="assets/crypto_app.png" alt="hero-image">
      <div class="grid-test">
        <div class="icon-clients2">
          <fa-icon [icon]="faUserGear"></fa-icon>
          <p class="desc"><span>My role:</span> Developer, UX|UI
            Designer</p>
        </div>
        <div class="call-action">
          <a href="https://educacional.softged.com.br/" target="_blank">
            <button class="main-button">GitHub</button>
          </a>
        </div>
        <div class="icon-clients">
          <fa-icon [icon]="faFlag"></fa-icon>
          <p class="desc"><span>Project Type:</span> Mobile App</p>
        </div>
      </div>
      <a href="https://educacional.softged.com.br/" target="_blank">
        <button class="main-button2">GitHub</button>
      </a>
    </div>

  </div>
</section>

<section>
  <div class="section-model1">
    <div class="item-sec1-1">
      <h2>Landing page for an education software</h2>
      <div class="icon-clients">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p class="desc"><span>Client:</span> SoftVision</p>
      </div>
      <p>This is an One Page WebSite focused on quickly sell the product. This tip of work are called Landing Page. The
        information is based on copywriting techniques that induces the user to go directly to the point generating
        leads for the stakeholders. </p>
    </div>
    <div class="item-sec1-2">
      <img src="assets/softged_educaional.png" alt="hero-image">
      <div class="grid-test">
        <div class="icon-clients2">
          <fa-icon [icon]="faUserGear"></fa-icon>
          <p class="desc"><span>My role:</span> Developer, UX|UI Designer</p>
        </div>
        <div class="call-action">
          <a href="https://educacional.softged.com.br/" target="_blank">
            <button class="main-button">View the page</button>
          </a>
        </div>
        <div class="icon-clients">
          <fa-icon [icon]="faFlag"></fa-icon>
          <p class="desc"><span>Project Type:</span> Landing Page</p>
        </div>
      </div>
      <a href="https://educacional.softged.com.br/" target="_blank">
        <button class="main-button2">View the page</button>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="section-model1">
    <div class="item-sec1-1">
      <h2>One page WebSite & Blog for a local political party</h2>
      <div class="icon-clients">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p class="desc"><span>Client:</span> Psol Vinhedo</p>
      </div>
      <p>The focus in this project was to put the main ideas and news about policy and centered in the party objectives.
        Also it was important to describe what they fight for and with mechanisms
        to deliver in a targeted way to more people,<br><strong>*I am not part of the party, I only act as a service
          provider in a professional way.</strong></p>
    </div>
    <div class="item-sec1-2">
      <img src="assets/psol_vinhedo_sample.png" alt="hero-image">
      <div class="grid-test">
        <div class="icon-clients2">
          <fa-icon [icon]="faUserGear"></fa-icon>
          <p class="desc"><span>My role:</span> Developer, UX|UI Designer</p>
        </div>
        <div class="call-action">
          <a href="https://psolvinhedo.org.br/" target="_blank">
            <button class="main-button">Visit the WebSite</button>
          </a>
        </div>
        <div class="icon-clients">
          <fa-icon [icon]="faFlag"></fa-icon>
          <p class="desc"><span>Project Type:</span> WebSite/Blog</p>
        </div>
      </div>
      <a href="https://psolvinhedo.org.br/" target="_blank">
        <button class="main-button2">Visit the WebSite</button>
      </a>
    </div>
  </div>
</section>
