<footer>
  <div class="footer-section">
    <div class="copyright">
      <h4>&copy; 2022, Victor Bonanho</h4>
      <p>Designed & Coded by Victor Bonanho.<br>Share generously but provide attribution.</p>
    </div>
    <div class="privacy">
      <h4>Privacy</h4>
      <p>This website does not get unauthorized information.
      </p>
    </div>
    <div class="published">
      <h4>Published</h4>
      <p>Personal Server - Hostgator.<br> Builded with Angular Framework</p>
    </div>
  </div>
</footer>
