footer {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  transition: 1.5s;
  border-top: 1px solid var(--border-color);
  z-index: 10;
  opacity: 80%;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;
}

.footer-section div { /*!important*/
  flex: 1 1 300px;
}

.copyright {
  width:33%;
}

.privacy {
  display: grid;
  justify-content: center;
  width:33%;
}

.published {
  display: grid;
  justify-content: flex-end;
  width:33%;
}

h4 {
  font-size: 16px;
  font-family: poppins;
  text-align: left;
  font-weight: 500;
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
  }
  .copyright {
    display: grid;
    justify-content: center;
    width:100%;
  }

  .privacy {
    display: grid;
    justify-content: center;
    width:100%;
  }

  .published {
    display: grid;
    justify-content: center;
    width:100%;
  }

  p {
    margin-top: 10px;
    text-align: center;
  }

  h4 {
    margin-top: 20px;
    text-align: center;
  }

  footer {
    padding-bottom: 20px;
    padding-top: 0;
  }
}
