<header>
  <div class="primary-present">
    <img src="assets/victor_online.png" alt="victor-bonanho">
    <div class="description">
      <h1>Victor Bonanho</h1>
      <p>Developer & UX Designer</p>
    </div>
  </div>
  <div class="content">
    <div class="current-work">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      <p>Currently at Softvision & Freelance |<br>Previously at Funcamp, PrCom360</p>
    </div>

    <!--Navigation Menu here-->
    <nav>
      <div class="just-divider">
        <a routerLink="/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:
        true}" class="menu-icon">
          <fa-icon [icon]="faHouseChimneyUser"></fa-icon>
          <p>Home</p>
        </a>
      </div>
      <div class="just-divider">
        <a routerLink="/portfolio" routerLinkActive="active-menu" class="menu-icon">
          <fa-icon [icon]="faBuffer"></fa-icon>
          <p>Portfolio</p>
        </a>
      </div>
      <div class="just-divider">
        <a routerLink="/contact" routerLinkActive="active-menu" class="menu-icon">
          <fa-icon [icon]="faComment"></fa-icon>
          <p>Contact</p>
        </a>
      </div>
      <div class="just-divider2">
        <a routerLink="/resume" routerLinkActive="active-menu" class="menu-icon">
          <fa-icon [icon]="faFile"></fa-icon>
          <p>Resume</p>
        </a>
      </div>
    </nav>
  </div>

  <div class="contact-media">

    <div class="social-icons">
      <div class="github">
        <a href="https://github.com/victorbonanho" target="_blank">
          <fa-icon [icon]="faGithubSquare"></fa-icon>
        </a>
      </div>
      <div class="linkedin">
        <a href="https://www.linkedin.com/in/victor-bonanho-b8b2ba141/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
      <div class="mail">
        <a href="mailto:contato@victorbonanho.com">
          <fa-icon [icon]="faSquareEnvelope"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</header>
