/*Desktop menu*/

.content {
  background-color: none;
}

.primary-present {
  display: flex;
  padding: 20px 35px 20px 35px;
  align-items: center;
}

.primary-present img {
  max-width:60px;
  max-height:60px;
  min-height:5px;
  min-width:5px;
}

h1 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

.description {
  margin-left: 25px;
  margin-top: 0px;
}

.description p {
  font-weight: 400;
  color: #B1B1B1;
}

.current-work {
  display: flex;
  align-items: center;
  padding: 10px 35px 10px 35px;
  background: linear-gradient(141deg, rgba(88, 250, 104, 0.511) 0%, rgba(66, 232, 135, 0.523) 48%, rgba(40, 208, 172, 0.517) 100%);
}

.current-work p {
  font-size: 14px;
  margin-left: 16px;
  color: var(--text-color);
}

.current-work fa-icon {
  color: var(--text-color);
  transition: 1.5s;
}

.menu-icon {
  display: flex;
  padding: 16px 35px 16px 35px;
  transition: 0s!important;
}

.just-divider {
  border-top: 1px solid var(--border-color);
  transition: 1.5s;
}

.just-divider2 {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  transition: 1.5s;
}

.menu-icon p, .menu-icon fa-icon {
  opacity: 90%;
}

.menu-icon:hover {
  background-color: var(--box-color);
  transition: 0s!important;
}

.active-menu {
  background-color: #0095e01c!important;
  border-right: solid 2px #007FFF;
  transition: 0s;
}

.active-menu fa-icon, .active-menu p {
  color: #007FFF;
  opacity: 100%!important;
  transition: 0s!important;
}

.menu-icon p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 3px;
  margin-left: 35px;
}

.menu-icon fa-icon {
  font-size: 22px;
}

.contact-media {
  display: flex;
  flex-direction: column;
  padding: 35px 35px 20px 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-media span {
  font-weight: bold;
}

.social-icons {
  display: flex;
  margin-top: 0px;
  background-color: var(--box-color);
  border-radius: 100px;
  border: 1px solid var(--border-color);
  transition: 1.5s;
}

.social-icons fa-icon {
  margin: 0 16px;
  font-size: 32px;
  opacity: 100%;
  transition: 0s;
}

.github fa-icon {
  color: #8366CD;
}

.github fa-icon:hover {
  opacity: 40%;
}

.linkedin fa-icon {
  color: #1081C0;
}

.linkedin fa-icon:hover {
  opacity: 40%;
}

.mail fa-icon {
  color: #E8695A;
}

.mail fa-icon:hover {
  opacity: 40%;
}

/*Mobile menu*/





