<main>
  <div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="assets/placeholder.png" alt="placeholder">
        <h5>Strategy</h5>
        <p>I’m a developer and a UX Designer focused on
          building & designing intuitive experiences.</p>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/placeholder.png" alt="placeholder">
        <h5>Design</h5>
        <p>I’m a developer and a UX Designer focused on
          building & designing intuitive experiences.</p>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/placeholder.png" alt="placeholder">
        <h5>Development</h5>
        <p>I’m a developer and a UX Designer focused on
          building & designing intuitive experiences.</p>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/placeholder.png" alt="placeholder">
        <h5>Test</h5>
        <p>I’m a developer and a UX Designer focused on
          building & designing intuitive experiences.</p>
      </ng-template>
    </owl-carousel-o>
  </div>
</main>
