<main>
  <div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <iframe src="https://giphy.com/embed/qnlIw1jKhQhZnim1n0" width="100%" height="180" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/kochstrasse-hannover-agencylife-agenturleben-qnlIw1jKhQhZnim1n0"></a></p>
        <h5>Strategy</h5>
        <p>This step is one of the most important. This is where all the ideas are are built and organized and is where
          the <strong>UX Researcher's</strong> tasks comes (interviews, questionnaires and researching).</p>
      </ng-template>
      <ng-template carouselSlide>
        <iframe src="https://giphy.com/embed/MvovQGsMBY9H2" width="100%" height="180" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/MvovQGsMBY9H2"></a></p>
        <h5>Design</h5>
        <p>Now is where the <strong>high fidelity design</strong> and the ideas comes. This step is extremely important
          for give the potetial users, the team and the stakeholders an overview of how are going to be the final
          product.</p>
      </ng-template>
      <ng-template carouselSlide>
        <iframe src="https://giphy.com/embed/bGgsc5mWoryfgKBx1u" width="100%" height="180" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/computador-gu-tecnology-bGgsc5mWoryfgKBx1u"></a></p>
        <h5>Development</h5>
        <p>It is time to <strong>build the final product</strong>. Always paying attention to all features to deliver a
          great user experience based on the latest steps and using the right technology for the given project.</p>
      </ng-template>
      <ng-template carouselSlide>
        <iframe src="https://giphy.com/embed/kM939eyFdZAIstgfp2" width="100%" height="180" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/kM939eyFdZAIstgfp2"></a></p>
        <h5>Test</h5>
        <p>Before, during and after the product goes to production we need to test it and <strong>its a continuous
            task</strong>. Usualy the test starts with pottential users interacting with the product or the prototype.
          During the launch, BETA versions are online for users test the final product. After all of it starts a
          continuous enhancement always paying attention to the feedbacks of the users.</p>
      </ng-template>
    </owl-carousel-o>
  </div>
</main>
