main {
  width: 90%;
  margin-bottom: 30px;
}

h5 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
  font-size: 18px;
}

.giphy-embed {
  background-color: var(--background-color);
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.076);
  transition: 1.5s;
}

iframe {
  pointer-events: none;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
  background: #0095e038!important; /* dots color*/
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0094E0!important; /*active and on hover color*/
}
