<main>
  <div id="section-father">
    <div class="section-model1">
      <div class="item-sec1-1">
        <h1>Hi, I'm Victor.<br>Nice to meet you!</h1>
        <p>I’m a developer and a UX Designer focused on building & designing intuitive
          experiences.</p>
        <!--Call to Action Button-->
        <div class="call-action">
          <button class="main-button" routerLink="/contact">Get in touch</button>
        </div>
      </div>
      <div class="item-sec1-2">
        <div class="floating-images__container">
          <div class="floating-image">
            <img src="assets/crypto_app.png" alt="hero-image">
          </div>
          <div class="floating-image">
            <img src="assets/psol_vinhedo_sample.png" alt="hero-image">
          </div>
          <div class="floating-image">
            <img src="assets/softged_educaional.png" alt="hero-image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-father2">
    <div class="section-model1">
      <div class="item-sec1-1-1">
        <p class="sub-iten">How I work</p>
        <h2>Creation Process</h2>
        <p>I do my job by steps, and following some patterns to deliver a great product. </p>
      </div>
    </div>
  </div>
  <section class="carousel">
    <!-- <app-carousel></app-carousel> -->
    <app-owl-carousel></app-owl-carousel>
  </section>
  <div class="container">
    <div class="tab">
      <ul>
        <li id="strategy" [class.color-ative]="id ==='strategy'" (click)="tabChange('strategy')">
          <div>
            <fa-icon [icon]="faChessKnight"></fa-icon>
            <p>Strategy</p>
          </div>
        </li>
        <li id="design" [class.color-ative]="id ==='design'" (click)="tabChange('design')">
          <div>
            <fa-icon [icon]="faGem"></fa-icon>
            <p>Design</p>
          </div>
        </li>
        <li id="development" [class.color-ative]="id ==='development'" (click)="tabChange('development')">
          <div>
            <fa-icon [icon]="faLaptopCode"></fa-icon>
            <p>Development</p>
          </div>
        </li>
        <li id="quality-assurance" [class.color-ative]="id ==='quality-assurance'"
          (click)="tabChange('quality-assurance')">
          <div>
            <fa-icon [icon]="faPeopleGroup"></fa-icon>
            <p>Test</p>
          </div>
        </li>
      </ul>

      <div id="content">
        <div class="content-value" *ngIf="id === 'strategy'">
          <div class="item-sec1-1-3">
            <iframe src="https://giphy.com/embed/qnlIw1jKhQhZnim1n0" width="100%" height="300" frameBorder="0"
              class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/kochstrasse-hannover-agencylife-agenturleben-qnlIw1jKhQhZnim1n0"></a></p>
          </div>
          <div class="item-sec1-2-3">
            <h4>Strategy</h4>
            <p>This step is one of the most important. This is where all the ideas are are built and organized and is
              where the <strong>UX Researcher</strong>'s tasks comes (interviews, questionnaires and researching).</p>
            <!--
            <div class="call-action">
              <button class="sec2-button2" routerLink="/contact">Get in touch</button>
              <a class="icon-link" routerLink="/contact">
                <p class="sec2-button">Get in touch</p>
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
            -->
          </div>
        </div>
        <div class="content-value" *ngIf="id === 'design'">
          <div class="item-sec1-1-3">
            <iframe src="https://giphy.com/embed/MvovQGsMBY9H2" width="100%" height="300" frameBorder="0"
              class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/MvovQGsMBY9H2"></a></p>
          </div>
          <div class="item-sec1-2-3">
            <h4>Design</h4>
            <p>Now is where the <strong>high fidelity design</strong> and the ideas comes. This step is extremely
              important for give the
              potetial users, the team and the stakeholders an overview of how are going to be the final product.</p>
            <!--
            <div class="call-action">
              <button class="sec2-button2" routerLink="/contact">Get in touch</button>
              <a class="icon-link" routerLink="/contact">
                <p class="sec2-button">Get in touch</p>
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
            -->
          </div>
        </div>
        <div class="content-value" *ngIf="id === 'development'">
          <div class="item-sec1-1-3">
            <iframe src="https://giphy.com/embed/bGgsc5mWoryfgKBx1u" width="100%" height="300" frameBorder="0"
              class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/computador-gu-tecnology-bGgsc5mWoryfgKBx1u"></a></p>
          </div>
          <div class="item-sec1-2-3">
            <h4>Development</h4>
            <p>It is time to <strong>build the final product</strong>. Always paying attention to all
              features to deliver a great user experience based on the latest steps and using the right technology
              for the given project.</p>
            <!--
            <div class="call-action">
              <button class="sec2-button2" routerLink="/contact">Get in touch</button>
              <a class="icon-link" routerLink="/contact">
                <p class="sec2-button">Get in touch</p>
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
            -->
          </div>
        </div>
        <div class="content-value" *ngIf="id === 'quality-assurance'">
          <div class="item-sec1-1-3">
            <iframe src="https://giphy.com/embed/kM939eyFdZAIstgfp2" width="100%" height="300" frameBorder="0"
              class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/kM939eyFdZAIstgfp2"></a></p>
          </div>
          <div class="item-sec1-2-3">
            <h4>Test</h4>
            <p>Before, during and after the product goes to production we need to test it and <strong>its a continuous
                task</strong>.
              Usualy the test starts with pottential users interacting with the product or the prototype. During the
              launch, BETA
              versions are online for users test the final product. After all of it starts a continuous enhancement
              always
              paying
              attention to the feedbacks of the users.</p>
            <!--
            <div class="call-action">
              <button class="sec2-button2" routerLink="/contact">Get in touch</button>
              <a class="icon-link" routerLink="/contact">
                <p class="sec2-button">Get in touch</p>
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
