<!--<header [class.header_change]="header_variable">-->
<header>
  <div class="upbar-section">
    <a routerLink="/" class="logo">
      <img src="assets/vb-logoazul.png" alt="">
    </a>
    <!--back and return
    <div class="nav">
      <div class="back">
        <fa-icon (click)="back()" [icon]="faCircleChevronLeft"></fa-icon>
      </div>
      <div class="right">
        <fa-icon (click)="forward()" [icon]="faCircleChevronRight"></fa-icon>
      </div>
    </div>
    -->
    <div class="action">
      <button class="toggle" (click)="switchTheme()">
        {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
      </button>
      <fa-icon (click)="switchTheme()" [icon]="faCircleHalfStroke"></fa-icon>
    </div>
  </div>
</header>

<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
  <!--
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  -->
</div>
