header {
  display: none;
}

 @media screen and (max-width: 1100px) {
  header {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    transition: 1.5s;
    border-top: 1px solid var(--border-color);
    z-index: 99;
  }

  nav {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
  }

  .just-divider {
    width: 100%;
  }

  .menu-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    padding: 10px 0;
    transition: 0s!important;
  }

  .menu-icon p, .menu-icon fa-icon {
    display: grid;
    justify-content: center;
    opacity: 90%;
  }

  .active-menu {
    background-color: #0095e01c!important;
    border-top: solid 2px #0094E0;
    transition: 0s !important;
  }

  .active-menu fa-icon, .active-menu p {
    color: #0094E0;
    opacity: 100% !important;
    transition: 0s !important;
  }

  .menu-icon p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }

  .menu-icon fa-icon {
    font-size: 18px;
  }
 }
