@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

.html, body {
  font-family: poppins;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001E3C;
}

p, h1, h2, h3, h4, h5, a, fa-icon, li, ul, hr {
  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style-type: none;
  transition: 1.5s!important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
}

/* Dark Light Theme */

.main-colors {
  --primary-blue: #007FFF;
}

.light-theme {
  --background-color: white;
  --text-color: #1e1e1e;
  --box-color: #EDF0F3;
  --button-color: #fff;
  --border-color: #ebebeb;
  --content-color: white;
  --scrollbar-color: rgb(146, 146, 146);
  --linear-gradient: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  transition: 1.5s;
}

.dark-theme {
  --background-color: #071A2F;
  --text-color: #f5f5f5;
  --box-color: #132F4C;
  --border-color: #0E2741;
  --content-color: #001E3C;
  --scrollbar-color: rgb(141, 141, 141);
  --linear-gradient: linear-gradient(to right, rgba(0,30,60,1) 0%, rgba(0,30,60,0) 100%);
  transition: 1.5s;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--box-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--box-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

@keyframes Slide_Left {
  0% {
    transform: translateY(250px) ;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Slide_Right {
  0% {
    transform: translateY(250px) ;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes border_anim {
	0%{
		border-bottom-width: 1em;
	}
	100%{
		border-bottom-width: 1000em;
	}
}

@keyframes animate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}



