@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

.html, body {
  font-family: poppins;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

p, h1, h2, h3, h4, h5, a, fa-icon, li, ul, hr {
  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style-type: none;
  transition: 1.5s;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
}

/* Dark Light Theme */

.light-theme {
  --background-color: white;
  --text-color: #535353;
  --box-color: rgb(243, 243, 243);
  --button-color: #fff;
  --border-color: #dedede;
  --content-color: #F6F8FA;
  transition: 1.5s;
}

.dark-theme {
  --background-color: #161B22;
  --text-color: #f5f5f5;
  --box-color: #30363D;
  --border-color: #464646;
  --content-color: #0D1117;
  transition: 1.5s;
}


